html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}


/* ========================================
   SHARED BLACK-SCREEN MODE
   ======================================== */

body.screensaver-active {
  background: #000 !important;
}


body.screensaver-active #viewport {
  visibility: hidden !important;
}
